<app-nav></app-nav>

<div class="homeWrapper">
    <div>
        <h2>Click bellow to authenticate</h2>
        <button (click)="Authenticate()">Authenticate</button>
        <div *ngIf="isLoading.authenticate" class="loading-indicator">Autenticando...</div>
    </div>

    <div>
        <h2>Click here to GET users from database</h2>
        <button (click)="GetUsers()">Get users</button>
        <div *ngIf="isLoading.getUsers" class="loading-indicator">Cargando...</div>
        <h3 *ngIf="Users != false">USERS:</h3>
        <ul  *ngIf="Users != false">
            <li *ngFor="let user of Users">-Name:{{ user.name + " - Age:" + user.age }}</li>
        </ul>
    </div>

    <div>
        <h2>Type here to DELETE users from database</h2>
        <p>username:</p>
        <input type="text"  [(ngModel)]="deleteUser">
        <input type="button" (click)="DeleteUser()" value="Delete user">
        <div *ngIf="isLoading.deleteUser" class="loading-indicator">Cargando...</div>
        <h3 *ngIf="deleteUserResult != false">¡user deleted Successfully!</h3>
    </div>

    <div>
        <h2>Type here to INSERT users to database</h2>
        <p>username:</p>
        <input type="text" [(ngModel)]="insertUser">
        <p>age:</p>
        <input type="text"  [(ngModel)]="insertAge">
        <input type="button"(click)="InsertUser()" value="Insert user">
        <div *ngIf="isLoading.insertUser" class="loading-indicator">Cargando...</div>
        <h3 *ngIf="insertUserResult != false">¡User inserted Successfully!</h3>
    </div>

    <div>
        <h2>Type here to GET user by name</h2>
        <p>username:</p>
        <input type="text" [(ngModel)]="getUser">
        <input type="button" (click)="GetUserByName()" value="Get user">
        <div *ngIf="isLoading.getUserByName" class="loading-indicator">Cargando...</div>
        <h3 *ngIf="getUserResult != false">USER:</h3>
        <ul  *ngIf="getUserResult != false">
            <li>-Name:{{ getUserResult.name + " "+"-Age:"+getUserResult.age}}</li>
        </ul>
    </div>
</div>

